.year-header
  .year-header__left
    .year-header__left__logo
      = link_to "ASSET STATION", years_path, class: "asset-logo"
    .year-header__left__input
      ="#{@year.year}年"
      ="#{@month.month}月"

-# = render 'main_form', {year: @year, month: @month}
.year-main
  .year-main-conts
    .main-conts__box
      .conts-layout
        .conts-layout__name
          収入
        .conts-layout__lists
          = form_for([@year, @month, @income]) do |f|
            .year-header__input
              = f.text_field :item, placeholder:"項目名を入力", class:"s_name"
              = f.submit "更新する"
          %ol{class:"lay_lists"}
            - @incomes.each do |income|
              %li 
                = form_for([@year, @month, income]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"
                  = link_to year_month_income_path(@year, @month, income.id), method: :delete, class: "i-icon" do
                    %i{class:"fas fa-ban"}
                
      .conts-layout
        .conts-layout__name
          支出
        .conts-layout__lists
          = form_for([@year, @month, @expense]) do |f|
            .year-header__input
              = f.text_field :item, placeholder:"項目名を入力", class:"s_name"
              = f.submit "更新する"
              = link_to "編集", edit_year_month_path(@year, @month)
          %ol{class:"lay_lists"}
            - @expenses.each do |expense|
              %li 
                = form_for([@year, @month, expense]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"
                  = link_to year_month_expense_path(@year, @month, expense.id), method: :delete, class: "i-icon" do
                    %i{class:"fas fa-ban"}

    .main-conts__box
      .conts-layout
        .conts-layout__name
          資産
        .conts-layout__lists
          = form_for([@year, @month, @asset]) do |f|
            .year-header__input
              = f.text_field :item, placeholder:"項目名を入力", class:"s_name"
              = f.submit "更新する"
              = link_to "編集", edit_year_month_path(@year, @month)
          %ol{class:"lay_lists"}
            - @assets.each do |asset|
              %li 
                = form_for([@year, @month, asset]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"
                  = link_to year_month_asset_path(@year, @month, asset.id), method: :delete, class: "i-icon" do
                    %i{class:"fas fa-ban"}
      .conts-layout
        .conts-layout__name
          負債
        .conts-layout__lists
          = form_for([@year, @month, @debt]) do |f|
            .year-header__input
              = f.text_field :item, placeholder:"項目名を入力", class:"s_name"
              = f.submit "更新する"
              = link_to "編集", edit_year_month_path(@year, @month)
          %ol{class:"lay_lists"}
            - @debts.each do |debt|
              %li 
                = form_for([@year, @month, debt]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"
                  = link_to year_month_debt_path(@year, @month, debt.id), method: :delete, class: "i-icon" do
                    %i{class:"fas fa-ban"}