.year-header
  .year-header__left
    .year-header__left__logo
      = link_to "ASSET STATION", years_path, class: "asset-logo"
    .year-header__left__input
      ="#{@year.year}年"
      ="#{@month.month}月"
      = link_to "項目追加", year_month_path(@year, @month)
      = link_to "金額を入力", year_month_assets_path(@year, @month)

-# = render 'main_form', {year: @year, month: @month}
.year-main
  .year-main-conts
    .main-conts__box
      .conts-layout
        .conts-layout__name
          収入
        .conts-layout__lists
          %ol{class:"lay_lists"}
            - @incomes.each do |income|
              %li 
                = form_for([@year, @month, income]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"
      .conts-layout
        .conts-layout__name
          支出
        .conts-layout__lists
          %ol{class:"lay_lists"}
            - @expenses.each do |expense|
              %li 
                = form_for([@year, @month, expense]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"
    .main-conts__box
      .conts-layout
        .conts-layout__name
          資産
        .conts-layout__lists
          %ol{class:"lay_lists"}
            - @assets.each do |asset|
              %li 
                = form_for([@year, @month, asset]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"
      .conts-layout
        .conts-layout__name
          負債
        .conts-layout__lists
          %ol{class:"lay_lists"}
            - @debts.each do |debt|
              %li 
                = form_for([@year, @month, debt]) do |f|
                  = f.text_field :item
                  = f.submit "編集の更新"