= render 'share/header'

.year-header
  .year-header__left
    .year-header__left__input
      ="#{@year.year}年"
      ="#{@month.month}月/"
      = link_to "編集", edit_year_month_path(@year, @month), class: "contents_link"
      ="/"
      = link_to "項目追加", year_month_path(@year, @month), class: "contents_link"
      ="/"
      = link_to "表示する", year_month_incomes_path(@year, @month), class: "contents_link"
.year-main
  .year-main-conts
    .main-conts__box
      .conts-layout
        .conts-layout__name
          収入
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} キャッシュフロー
          - @incomes.each_with_index do |income, i|
            = form_for([@year, @month, income]) do |f|
              %tr{class:"lay-line"}
                %td{class:"lay-item"}
                  ="#{income.item}"
                %td{class:"lay-cf"}
                  = f.text_field :cf, placeholder:"金額を入力", class:"cf-text", id:"income_cf_#{i}"
                  万円
                  = f.submit "更新", class:"lay-submit"
      .conts-layout
        .conts-layout__name
          支出
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} キャッシュフロー
          - @expenses.each_with_index do |expense, i|
            = form_for([@year, @month, expense]) do |f|
              %tr{class:"lay-line"}
                %td{class:"lay-item"}
                  ="#{expense.item}"
                %td{class:"lay-cf"}
                  = f.text_field :cf, placeholder:"金額を入力", class:"cf-text", id:"expence_cf_#{i}"
                  万円
                  = f.submit "更新", class:"lay-submit"
    .main-conts__box
      .conts-layout
        .conts-layout__name
          資産
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} 金額
            %th{class:"th-deposit"}頭金
          - @assets.each_with_index do |asset, i|
            = form_for([@year, @month, asset]) do |f|
              %tr{class:"lay-line2"}
                %td{class:"lay-item"}
                  ="#{asset.item}"
                %td{class:"lay-cf"}
                  = f.text_field :money, placeholder:"金額を入力", class:"cf-text", id:"asset_money_#{i}"
                  万円
                %td{class:"lay-deposit"}
                  = f.text_field :deposit, placeholder:"頭金を入力", class:"deposit-text", id:"asset_deposit_#{i}"
                  万円
                  = f.submit "更新", class:"lay-submit2"
      .conts-layout
        .conts-layout__name
          負債
        .conts-layout__lists
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} 金額
            %th{class:"th-deposit"} 金利
          - @debts.each_with_index do |debt, i|
            = form_for([@year, @month, debt]) do |f|
              %tr{class:"lay-line2"}
                %td{class:"lay-item"}
                  ="#{debt.item}"
                %td{class:"lay-cf"}
                  = f.text_field :money, placeholder:"金額を入力", class:"cf-text", id:"debt_money_#{i}"
                  万円
                %td{class:"lay-deposit"}
                  = f.text_field :rate, placeholder:"金利を入力", class:"deposit-text", id:"debt_rate_#{i}"
                  ％
                  = f.submit "更新", class:"lay-submit2"