.year-header
  = form_for([@year, @month], html: {class: "ym_input"}) do |f|
    .year-header__input
      ="#{@year.year}年"
      = f.number_field :month, class: "m-num"
      月
      = f.submit "表示する"
    .year-header__back
      = link_to years_path do
        <input type="button" value="戻る">
= render 'years/main_demoform'