= render 'years/header'

.year-header
  .year-header__left
    -# .year-header__left__logo
    -#   = link_to "ASSET STATION", year_month_incomes_path(@year, @month), class: "asset-logo"
    .year-header__left__input
      ="#{@year.year}年"
      ="#{@month.month}月"
      = link_to "編集", edit_year_month_path(@year, @month)
      = link_to "金額を入力", year_month_assets_path(@year, @month)
.year-main
  .year-main-conts
    .main-conts__box
      .conts-layout
        .conts-layout__name
          収入
        .conts-layout__lists
          = form_for([@year, @month, @income]) do |f|
            .conts-layout__lists__input
              = f.collection_select(:item, Select.where(category: "income"), :item, :item, {prompt: "項目名を選択"},required: true, class:"s_name")
              = f.submit "追加する", class: "plus"
              = link_to year_month_assets_path(@year, @month) do
                %i{class:"fas fa-edit"}
          %ol{class:"lay_lists lay_income"}
            - @incomes.each do |income|
              %li 
                ="#{income.item}"
                = link_to year_month_income_path(@year, @month, income.id), method: :delete, class: "i-icon" do
                  %i{class:"fas fa-ban"}
                

      .conts-layout
        .conts-layout__name
          支出
        .conts-layout__lists
          = form_for([@year, @month, @expense]) do |f|
            .conts-layout__lists__input
              = f.collection_select(:item, Select.where(category: "expense"), :item, :item, {prompt: "項目名を選択"},required: true, class:"s_name")
              = f.submit "追加する", class: "plus"
              = link_to year_month_assets_path(@year, @month) do
                %i{class:"fas fa-edit"}
          %ol{class:"lay_lists lay_expense"}
            - @expenses.each do |expense|
              %li 
                ="#{expense.item}"
                = link_to year_month_expense_path(@year, @month, expense.id), method: :delete, class: "i-icon" do
                  %i{class:"fas fa-ban"}

    .main-conts__box
      .conts-layout
        .conts-layout__name
          資産
        .conts-layout__lists
          = form_for([@year, @month, @asset]) do |f|
            .conts-layout__lists__input
              = f.collection_select(:item, Select.where(category: "asset"), :item, :item, {prompt: "項目名を選択"},required: true, class:"s_name")
              = f.submit "追加する", class: "plus"
              = link_to year_month_assets_path(@year, @month) do
                %i{class:"fas fa-edit"}
          %ol{class:"lay_lists lay_asset" }
            - @assets.each do |asset|
              %li 
                ="#{asset.item}"
                = link_to year_month_asset_path(@year, @month, asset.id), method: :delete, class: "i-icon" do
                  %i{class:"fas fa-ban"}
      .conts-layout
        .conts-layout__name
          負債
        .conts-layout__lists
          = form_for([@year, @month, @debt]) do |f|
            .conts-layout__lists__input
              = f.collection_select(:item, Select.where(category: "debt"), :item, :item, {prompt: "項目名を選択"},required: true, class:"s_name")
              = f.submit "追加する", class: "plus"
              = link_to year_month_assets_path(@year, @month) do
                %i{class:"fas fa-edit"}
          %ol{class:"lay_lists lay_debt"}
            - @debts.each do |debt|
              %li 
                ="#{debt.item}"
                = link_to year_month_debt_path(@year, @month, debt.id), method: :delete, class: "i-icon" do
                  %i{class:"fas fa-ban"}