= render 'years/header'

.main-conts
  .left-conts
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          収入
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          - @incomes.each do |income|
            %tr
              %td 
                ="#{income.item}"
              %td
                = form_for([@year, @month, income]) do |f|
                  = f.text_field :cf, placeholder:"隣のボタンで更新", class:"cf-text"
                  万円
                  = f.submit "更新"
      .left-conts__list__r-side
        .when
          ="#{@year.year}年#{@month.month}月"
        .edit
          <input type="month" class="r-search">
          .edit__btn
            <input type="button" value="検索">
            = link_to year_month_path(@year, @month), class: "m-icon" do
              %i{class:"fas fa-cog"}

        .total
          ="総収入:#{total_cf(@incomes)}万円"
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          支出
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          - @expenses.each do |expense|
            %tr
              %td 
                ="#{expense.item}"
              %td
                = form_for([@year, @month, expense]) do |f|
                  = f.text_field :cf, placeholder:"隣のボタンで更新", class:"cf-text"
                  万円
                  = f.submit "更新"
      .left-conts__list__r-side
        .total
          %ul
            %li
              ="総支出:#{total_cf(@expenses)}万円"
            %li
              ="月のCF:#{profit_cf(@month)}万円"
          
  = render 'years/right_conts'

= render 'years/sub_conts'