-# ここはrender禁止
.year-header
  .year-header__left
    .year-header__left__logo
      = link_to "ASSET STATION", year_month_incomes_path(@year, @month), class: "asset-logo"
    .year-header__left__input
      ="#{@year.year}年"
      ="#{@month.month}月"
      = link_to "編集", edit_year_month_path(@year, @month)

-# = render 'main_form', {year: @year, month: @month}
.year-main
  .year-main-conts
    .main-conts__box
      .conts-layout
        .conts-layout__name
          収入
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} キャッシュフロー
            %th{class:"th-submit"}
          - @incomes.each do |income|
            = form_for([@year, @month, income]) do |f|
              %tr
                %td{class:"lay-item"}
                  ="#{income.item}"
                %td{class:"lay-cf"}
                  = f.text_field :cf, placeholder:"金額を入力", class:"cf-text"
                  万円
                %td{class:"lay-submit"}
                  = f.submit "更新"
      .conts-layout
        .conts-layout__name
          支出
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} キャッシュフロー
            %th{class:"th-submit"}
          - @expenses.each do |expense|
            = form_for([@year, @month, expense]) do |f|
              %tr
                %td{class:"lay-item"}
                  ="#{expense.item}"
                %td{class:"lay-cf"}
                  = f.text_field :cf, placeholder:"金額を入力", class:"cf-text"
                  万円
                %td{class:"lay-submit"}
                  = f.submit "更新"
    .main-conts__box
      .conts-layout
        .conts-layout__name
          資産
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} 金額
            %th{class:"th-deposit"}頭金
            %th{class:"th-submit"}
          - @assets.each do |asset|
            = form_for([@year, @month, asset]) do |f|
              %tr
                %td{class:"lay-item"}
                  ="#{asset.item}"
                %td{class:"lay-cf"}
                  = f.text_field :money, placeholder:"金額を入力", class:"cf-text"
                  万円
                %td{class:"lay-deposit"}
                  = f.text_field :deposit, placeholder:"頭金を入力", class:"deposit-text"
                  万円
                %td{class:"lay-submit"}
                  = f.submit "更新"
      .conts-layout
        .conts-layout__name
          負債
        .conts-layout__lists
        %table{border:"1",class:"table-lay-items"}
          %tr
            %th{class:"th-item"} 項目
            %th{class:"th-cf"} 金額
            %th{class:"th-rate"} 金利
            %th{class:"th-submit"}
          - @debts.each do |debt|
            = form_for([@year, @month, debt]) do |f|
              %tr
                %td{class:"lay-item"}
                  ="#{debt.item}"
                %td{class:"lay-cf"}
                  = f.text_field :money, placeholder:"金額を入力", class:"cf-text"
                  万円
                %td{class:"lay-deposit"}
                  = f.text_field :rate, placeholder:"金利を入力", class:"deposit-text"
                  ％
                %td{class:"lay-submit"}
                  = f.submit "更新"