.header
  .header-left
    .title
      .title__left
        .title__left__logo
          = link_to "ASSET STATION", years_path, class: "asset-logo"
        .title__left__name
          .title__left__name__font
            - if user_signed_in?
              = current_user.name
            - else
              non user
      .title__set
        .title__set__chart
          = link_to "グラフを表示  ",chart_years_path
        .title__set__name
          入力を始める
        .title__set__icon
          - if user_signed_in?
            = link_to new_year_path do
              %i{class:"fas fa-cog fa-2x"}
              -# = icon('fas', 'cog', class: 'icon')
  .right-menu
    - if user_signed_in?
      .right-menu__list
        .right-menu__list__btn
          = link_to edit_user_path(current_user) do
            <input type="button" class="btn1" value="登録編集">
      .right-menu__list
        .right-menu__list__btn
          = link_to destroy_user_session_path, method: :delete do
            <input type="button" class="btn1" value="ログアウト">
    - else
      .right-menu__list
        .right-menu__list__btn
          = link_to new_user_registration_path do
            <input type="button" class="btn1" value="新規登録">
      .right-menu__list
        .right-menu__list__btn
          = link_to new_user_session_path do
            <input type="button" class="btn1" value="ログイン">