.header
  .header-left
    - if user_signed_in?
      .title
        .title__left
          .title__left__logo
            = link_to "ASSET STATION", years_path, class: "title__left__logo__link"
          .title__left__name
            .title__left__name__font
              = current_user.name
        %ul{class:"title__list"}
          %li{class:"title__list__items"}
            = link_to "記録する",new_year_path,class: "title__list__items__input"
          %li{class:"title__list__items"}
            = link_to "グラフを表示",chart_years_path,class: "title__list__items__input"
          %li{class:"title__list__items"}
            = link_to "登録編集",edit_user_path(current_user),class: "title__list__items__input"
          %li{class:"title__list__items"}
            = link_to "ログアウト",destroy_user_session_path, method: :delete,class: "title__list__items__input"
    - else
      .title
        .title__left
          .title__left__logo
            ASSET STATION
          .title__left__name
            .title__left__name__font
              non user
        %ul{class:"title__list"}
          %li{class:"title__list__items"}
            = link_to "新規登録",new_user_registration_path,class: "title__list__items__input"
          %li{class:"title__list__items"}
            = link_to "ゲストログイン",users_guest_sign_in_path, method: :post,class: "title__list__items__input"
          %li{class:"title__list__items"}
            = link_to "ログイン",new_user_session_path,class: "title__list__items__input"