.header
  .header-left
    .title
      .title__name
        - if user_signed_in?
          = current_user.name
        - else
          ログインしていません
      .title__set
        .title__set__icon
          - if user_signed_in?
            = link_to new_year_path do
              %i{class:"fas fa-cog fa-2x"}
              -# = icon('fas', 'cog', class: 'icon')
  .right-menu
    - if user_signed_in?
      .right-menu__list
        .right-menu__list__btn
          = link_to edit_user_path(current_user) do
            <input type="button" class="btn1" value="登録編集">
      .right-menu__list
        .right-menu__list__btn
          = link_to destroy_user_session_path, method: :delete do
            <input type="button" class="btn1" value="ログアウト">
    - else
      .right-menu__list
        .right-menu__list__btn
          = link_to new_user_registration_path do
            <input type="button" class="btn1" value="新規登録">
      .right-menu__list
        .right-menu__list__btn
          = link_to new_user_session_path do
            <input type="button" class="btn1" value="ログイン">

.main-conts
  .left-conts
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          収入
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 給料
            %td <input type="number"> 万円
          %tr
            %td 配当
            %td <input type="number"> 万円
          %tr
            %td 不動産
            %td <input type="number"> 万円
      .left-conts__list__r-side
        .when
          <input type="month"> 
        .edit
          <input type="button" value="新規">
          <input type="button" value="更新">
        .total
          総収入: 58万円
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          支出
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 税金
            %td <input type="number" class="form"> 万円
          %tr
            %td 住宅ローン
            %td <input type="number" class="form"> 万円
          %tr
            %td 自動車ローン
            %td <input type="number" class="form"> 万円
            
      .left-conts__list__r-side
        
        .total
          総収入: 43万円
          
  
  .right-conts
    .right-conts__list
      .right-conts__list__title
        .right-conts__list__title__name
          資産
      .right-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 貯蓄
            %td <input type="number"> 万円
          %tr
            %td 株
            %td <input type="number"> 万円
          %tr
            %td 不動産
            %td <input type="number"> 万円
      .right-conts__list__bottom
        .total
          合計:1000万円
    .right-conts__list
      .right-conts__list__title
        .right-conts__list__title__name
          負債
      .right-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 住宅ローン残高
            %td <input type="number"> 万円
          %tr
            %td 銀行ローン残高
            %td <input type="number"> 万円
          %tr
            %td 奨学金
            %td <input type="number"> 万円
      .right-conts__list__bottom
        .total
          合計:1000万円
          <input type="button" value="更新">


.sub-conts
  .sub-conts__list
    .sub-conts__list__title
      .sub-conts__list__title__year
        2019年
    .sub-conts__list__items
      .index
        .month
          月:
        .cf
          CF:
      .result
        .month
          １月
        .cf
          20万円
      .result
        .month
          2月
        .cf
          20万円
      .result
        .month
          3月
        .cf
          20万円
      .result
        .month
          4月
        .cf
          20万円
      .result
        .month
          5月
        .cf
          20万円
      .result
        .month
          6月
        .cf
          20万円
      .result
        .month
          7月
        .cf
          20万円
      .result
        .month
          8月
        .cf
          20万円
      .result
        .month
          9月
        .cf
          20万円
      .result
        .month
          10月
        .cf
          20万円
      .result
        .month
          11月
        .cf
          20万円
      .result
        .month
          12月
        .cf
          20万円
    .sub-conts__list__right
      .total
        合計CF：240万円

  .sub-conts__list
    .sub-conts__list__title
      .sub-conts__list__title__year
        2020年
    .sub-conts__list__items
      .index
        .month
          月:
        .cf
          CF:
      .result
        .month
          １月
        .cf
          20万円
      .result
        .month
          2月
        .cf
          20万円
      .result
        .month
          3月
        .cf
          20万円
    .sub-conts__list__right
      .total
        合計CF：60万円

  .sub-conts__list
    .sub-conts__list__title
      .sub-conts__list__title__year
        2021年
    .sub-conts__list__items
      .index
        .month
          月:
        .cf
          CF:
      .result
        .month
          １月
        .cf
          20万円
      .result
        .month
          2月
        .cf
          20万円
      .result
        .month
          3月
        .cf
          20万円
    .sub-conts__list__right
      .total
        合計CF：60万円